/* CSS HEX */
/* 
cafe-noir: #553a27ff;
manatee: #95a2bdff;
Navbar color: #717e99ff;
light-periwinkle: #ccd6ebff;
sapphire: #2354b8ff; 
*/


/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

/* General style */
body {
  font-family: 'Oswald', Roboto;
  font-size: 1rem;
  background-color: #ffffff;
  color: #000;
  width: 100%;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* ------------------HOME PAGE------------------ */

/* navigation section */
#nav-tab {
  background-color: #717e99ff;
}

#nav-tab #logo {
  color: #ffffff;
}

#nav-tab #logo:hover {
  color: #000;
}

#nav-menu a {
  color: #ffffff;
}

#nav-menu a:hover {
  color: #000;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


/* Footer */
footer {
  height: 5rem;
  background-color: #717e99ff;
  margin-top: 45px;
  z-index: 1020;
}

.inline-block {
  display: inline-block;
  margin-top: 2px;
}

.social-networks-links ul {
 list-style: none;
 display: flex;
 justify-content: space-around;
 align-items: center;

}

.social-networks-links li a {
 color: #ffffff;
 margin: .2rem;
 padding: .2rem;
 font-size: 1.2rem;
}

.social-networks-links li a:hover {
 color: #000;
}

.copyright p {
  color: #ffffff;
 }

 .copyright p:hover {
  color: #000;
 }
 
