{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Recipe</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            
            <!-- coffee brew methods -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-mug-hot prefix"></i>
                    <select id="coffee_brew_method" name="coffee_brew_method" class="validate" required>
                        <option value="" disabled selected>Choose a Coffee Brew Method</option>
                        {% for coffee_brew_method in coffee_brew_methods %}
                            <option value="{{ coffee_brew_method.method_name }}">{{ coffee_brew_method.method_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="coffee_brew_method">Coffee Brew Method</label>
                </div>
            </div>

            <!-- coffee roast level -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-check-double prefix"></i>
                    <select id="roast_level" name="roast_level" class="validate" required>
                        <option value="" disabled selected>Choose a Coffee Roast Level</option>
                        {% for roast in roast_levels %}
                            <option value="{{ roast }}">{{ roast }}</option>
                        {% endfor %}
                    </select>
                    <label for="roast_level">Coffee Roast Level</label>
                </div>
            </div>

            <!-- grind of bean -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-mortar-pestle prefix"></i>
                    <select id="grind_of_bean" name="grind_of_bean" class="validate" required>
                        <option value="" disabled selected>Choose a Grind Of Bean</option>
                        {% for bean in grind_of_beans %}
                            <option value="{{ bean }}">{{ bean }}</option>
                        {% endfor %}
                    </select>
                    <label for="grind_of_bean">Grind Of Bean</label>
                </div>
            </div>

            <!-- quantity of coffee -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-weight prefix"></i>
                    <select id="quantity_of_coffee" name="quantity_of_coffee" class="validate" required>
                        <option value="" disabled selected>Choose Quantity Of Coffee</option>
                        {% for coffee in quantity_of_coffees %}
                            <option value="{{ coffee }}">{{ coffee }}</option>
                        {% endfor %}
                    </select>
                    <label for="quantity_of_coffee">Quantity Of Coffee</label>
                </div>
            </div>

            <!-- brew time -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-stopwatch prefix"></i>
                    <select id="brew_time" name="brew_time" class="validate" required>
                        <option value="" disabled selected>Choose Brew Time</option>
                        {% for time in brew_times %}
                            <option value="{{ time }}">{{ time }}</option>
                        {% endfor %}
                    </select>
                    <label for="brew_time">Brew Time</label>
                </div>
            </div>         

            <!-- recipe description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                        maxlength="500" class="materialize-textarea" required></textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>

            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large green lighten-1 text-shadow">
                        Save <i class="fas fa-edit right"></i>
                    </button>
                    <a href="{{ url_for('get_recipes') }}" class="btn-large red lighten-1 text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
