<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Coffee Lovers" content="A website for Coffee Lovers to view and share their coffee brewing recipes." />
  <!-- favicon image link -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}" />
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous"
    type="text/css">
  <!-- Materialize css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css">

  <!-- stylesheet link -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  {% block styles %}
  {% endblock %}
  <title>Coffee Lovers</title>
</head>

<body>

  <header>
    <!-- top navbar -->
    <nav class="nav-extended text-shadow" id="nav-tab">
      <div class="nav-wrapper">
        <a href="{{ url_for('get_recipes') }}" class="brand-logo" id="logo">Coffee Lovers</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
        <ul class="right hide-on-med-and-down" id="nav-menu">
          <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">New Recipe</a></li>
          <li><a href="#">Manage Brew Methods</a></li>
          <li><a href="#">Log Out</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Register</a></li>
        </ul>
      </div>
    </nav>

    <!-- mobile sidenav -->
    <ul class="sidenav" id="mobile-demo">
      <li>
        <h4 class="center-align">Coffee Lovers</h4>
      </li>
      <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">New Recipe</a></li>
      <li><a href="#">Manage Brew Methods</a></li>
      <li><a href="#">Log Out</a></li>
      <li><a href="#">Log In</a></li>
      <li><a href="#">Register</a></li>
    </ul>
  </header>

  {% block content %}
  {% endblock %}

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Coffee Lovers</h5>
          <p class="grey-text text-lighten-4">This site has been created for educational purposes only.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/?lang=en">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        © 2021 Coffee Lovers
      </div>
    </div>

  </footer>


  <!-- jQuery cdn -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
  </script>
  <!-- Materialize JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- script.js link -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>