{% extends "base.html" %}
{% block content %}

    <h3 class="black-text center-align">Edit Brew Method</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_coffee_brew_method', coffee_brew_method_id=coffee_brew_method._id) }}">
            <!-- category name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-mug-hot prefix"></i>
                    <input id="coffee_brew_method" name="coffee_brew_method" minlength="2" maxlength="26"
                        type="text" value="{{ coffee_brew_method.method_name }}" class="validate" required>
                    <label for="coffee_brew_method">Brew Method Name</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large green lighten-1 text-shadow">
                        Save <i class="fas fa-edit right"></i>
                    </button>
                    <a href="{{ url_for('get_coffee_brew_methods') }}" class="btn-large red lighten-1 text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
